# Default code owners for the repository
* @bkeryan @cumitche 

# Default code owners by file type
*.md @bkeryan @cumitche @nstokes-nati
*.proto @ccifra @jasonmreding

# Code owners for specific APIs (e.g. /ni/grpcdevice/)