name: Check .proto files

on:
  workflow_call:
  workflow_dispatch:

jobs:
  check_protos:
    name: Check .proto files
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python
        uses: ni/python-actions/setup-python@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
        id: setup-python
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
      - name: Cache virtualenv
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: .github/check_protos/.venv
          key: check-protos-${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('.github/check_protos/poetry.lock') }}
      - name: Install dependencies
        run: poetry install -v
        working-directory: ./.github/check_protos
      - name: Check .proto files
        run: poetry run python _check_protos.py
        working-directory: ./.github/check_protos