name: Check .proto files

on:
  workflow_call:
  workflow_dispatch:

jobs:
  check_protos:
    name: Check .proto files
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up Python
        uses: ni/python-actions/setup-python@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
        id: setup-python
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
      - name: Cache virtualenv
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .github/check_protos/.venv
          key: check-protos-${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('.github/check_protos/poetry.lock') }}
      - name: Install dependencies
        run: poetry install -v
        working-directory: ./.github/check_protos
      - name: Check .proto files
        run: poetry run python _check_protos.py
        working-directory: ./.github/check_protos