name: Create CI Artifacts

on:
  workflow_call:
  workflow_dispatch:

env:
  POETRY_VERSION: 1.8.2
  PYTHON_VERSION: 3.11.9

jobs:
  build:
    name: 'Proto Artifacts'
    runs-on: 'ubuntu-latest'

    steps:
    - name: Checkout repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Create staging directory
      run: |
        mkdir -p ${{ runner.temp }}/staging/ni

    - name: Stage protos
      run: |
        rsync -av --prune-empty-dirs --include "*/" --include "*.proto" --exclude "*" ni/ ${{ runner.temp }}/staging/ni/

    - name: Upload proto artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: ni-apis
        path: |
          ${{ runner.temp }}/staging
        retention-days: 5
